# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/

# Android
android/local.properties
android/key.properties
android/.gradle
android/app/release/
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# !! Firebase — ASLA commit etme !!
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Fontlar — Actions'ta indiriliyor
assets/fonts/*.ttf
assets/fonts/*.otf

# Misc
*.log
.DS_Store
Thumbs.db
coverage/
doc/api/
*.swp
.env
